Binaries
DerivedDataCache
Intermediate
Saved
Build
Config
Intermediate
Content/YI_NPC/B*
Content/YI_NPC/D*
Content/YI_NPC/M*
Content/YI_NPC/S*
Content/YI_NPC/T*
Content/_E*
Content/C*
Content/D*
Content/F*
Content/L*
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace